---
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import Link from "@components/Link.astro";

import { SITE, NOW, SOCIALS } from "@consts";
---

<PageLayout title={NOW.TITLE} description={NOW.DESCRIPTION}>
    <Container>
      <h1 class="animate font-semibold text-black dark:text-white">
        Here's what keeps me busy at the moment. <Link href="https://nownownow.com/about">
          what?
        </Link>
      </h1>
      <div class="space-y-16">
        <section>
          <article class="space-y-4">
            <p class="animate">
              Spring is my favourite time of the year by far. The days are getting warmer, the nights are getting longer and there just seems like more time in the day to get jobs done. 
              My list of jobs never seems to dwindle, from side projects like starting this new website, to personal design projects and to pottering around my house and garden.</p>
            <p class="animate">
              We bought our house four years ago, and it has been a financial burden or as my girlfriend calls it "the money pit". 
              But we wouldn't change owning a house for anything, we both feel so lucky to have something to call our own, my current 
              home project are the garden and my office finally getting around to installing ethernet to hopefully improve my speeds upstairs.
            </p>
            <p class="animate">
              In a few weeks time (end of may) it will be my first abroad holiday if over 6 years, pool, beer, food and friends for a week in Spain!

              Life's good.
            </p>
          </article>
        </section>
  
        <section class="animate space-y-4">
          <h5 class="font-semibold text-black dark:text-white">
            Side Projects
          </h5>
          <article>
            <h5 class="font-semibold text-black dark:text-white">
            Home Assistant and Proxmox
            </h5>  
            <p>Geeking out over whole house automations</a></p>
            <p>
              I started off my journey several years ago in home automation. I had a few light bulbs and sockets that could be tuned on and off with Alexa. 
              From there it has grown and grow, not only can I control many of my lights, lamps and sockets (for the important items in my house.)               
            </p>
            <p>  
              I can set automation based on time location and even presence of a person in that specific room, which for now is my office and led strip behind my desk 
              is illuminated between 8am – 10pm and power to my lamp is provided. If no presence is detected it will then turn off after a minute.
            </p>
          </article>
          
          <article>
            
          </article>
          
          <article>
            <p>
              <h5 class="font-semibold text-black dark:text-white">The books I'm reading</h5>
            

            Let My People Go Surfing by Yvon Chouinard

            In his long-awaited memoir, Yvon Chouinard-legendary climber, businessman, environmentalist, and founder of Patagonia, Inc.-shares the persistence and 
            courage that have gone into being head of one of the most respected and environmentally responsible companies on earth. From his youth as the son of a 
            French Canadian handyman to the thrilling, ambitious climbing expeditions that inspired his innovative designs for the sport's equipment, Let My People 
            Go Surfing is the story of a man who brought doing good and having grand adventures into the heart of his business life-a book that will deeply affect 
            entrepreneurs and outdoor enthusiasts alike.
            

            <a href="https://www.amazon.co.uk/Let-People-Surfing-Education-Businessman-Including/dp/0143109677">more info</a></p>
          </article>
          
          
          <ul class="flex flex-wrap gap-2">
            {SOCIALS.map(SOCIAL => (
              <li class="flex gap-x-2 text-nowrap">
                <Link href={SOCIAL.HREF} external aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}>
                  {SOCIAL.NAME}
                </Link>
                {"/"}
              </li>
            ))}
            <li class="line-clamp-1">
              <Link href={`mailto:${SITE.EMAIL}`} aria-label={`Email ${SITE.NAME}`}>
                {SITE.EMAIL}
              </Link>
            </li>
          </ul>
        </section>
      </div>
    </Container>
  </PageLayout>