---
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import Link from "@components/Link.astro";

import { SITE, NOW, SOCIALS } from "@consts";
---

<PageLayout title={NOW.TITLE} description={NOW.DESCRIPTION}>
    <Container>
      <h1 class="animate font-semibold text-black dark:text-white">
        Here's what keeps me busy at the moment. <Link href="https://nownownow.com/about">
          what?
        </Link>
      </h1>
      <div class="space-y-16">
        <section>
          <article class="space-y-4">
            <p class="animate">
              Winter is not my favourite time of the year. The days are getting shorter, the nights are getting darker and my motivation after work seems to dwindle to a griding hault. 
              My list of jobs on the other hand never seems to dwindle, to personal design projects to pottering around my house and garden.</p>
            <p class="animate">
              Recently after a few long discussions with my partner, It was apparent that some of my problems in life may be caused by ADHD and/or Autism. So i made an appointment with 
              the doctors and boy when they say metal health is a long wait (4 years in my area) they where not lying. But after a helpfull conversation with a mental health nurse, I have used
              "my right to choose" to hopefully get this wait down to a few months. 
            </p>
            <p class="animate">
              In a few weeks time it will be christmas and then 2025, during this time I will enjoy the company of friends and family and a few cheeky drinks.

              Life's good.
            </p>
          </article>
        </section>
  
        <section class="animate space-y-4">
          <h5 class="font-semibold text-black dark:text-white">
            Side Projects
          </h5>
          <article>
            <h5 class="font-semibold text-black dark:text-white">
            Home Assistant and Proxmox
            </h5>  
            <p>Geeking out over whole house automations</a></p>
            <p>
              I started off my journey several years ago in home automation. I had a few light bulbs and sockets that could be tuned on and off with Alexa. 
              From there it has grown and grow, not only can I control many of my lights, lamps and sockets (for the important items in my house.)               
            </p>
            <p>  
              I can set automation based on time location and even presence of a person in that specific room, which for now is my office and led strip behind my desk 
              is illuminated between 8am – 10pm and power to my lamp is provided. If no presence is detected it will then turn off after a minute.
            </p>
          </article>
          
          <article>
            
          </article>
          
          <article>
            <p>
              <h5 class="font-semibold text-black dark:text-white">The books I'm reading</h5>
            

            <p>Let My People Go Surfing by Yvon Chouinard </p>

            <p>In his long-awaited memoir, Yvon Chouinard-legendary climber, businessman, environmentalist, and founder of Patagonia, Inc.-shares the persistence and 
            courage that have gone into being head of one of the most respected and environmentally responsible companies on earth. </p>
            
            <p>From his youth as the son of a French Canadian handyman to the thrilling, ambitious climbing expeditions that inspired his innovative designs for the sport's equipment, Let My People 
            Go Surfing is the story of a man who brought doing good and having grand adventures into the heart of his business life-a book that will deeply affect 
            entrepreneurs and outdoor enthusiasts alike.
            </p>

            <a href="https://www.amazon.co.uk/Let-People-Surfing-Education-Businessman-Including/dp/0143109677">more info</a></p>
          </article>
          
          
          <ul class="flex flex-wrap gap-2">
            {SOCIALS.map(SOCIAL => (
              <li class="flex gap-x-2 text-nowrap">
                <Link href={SOCIAL.HREF} external aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}>
                  {SOCIAL.NAME}
                </Link>
                {"/"}
              </li>
            ))}
            <li class="line-clamp-1">
              <Link href={`mailto:${SITE.EMAIL}`} aria-label={`Email ${SITE.NAME}`}>
                {SITE.EMAIL}
              </Link>
            </li>
          </ul>
        </section>
      </div>
    </Container>
  </PageLayout>